@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
}

.grid1{
    background:linear-gradient(rgba(0, 0, 0, 0.655), rgba(0, 0, 0, 0.596)),
    url('../../Resources/Images/The_Move-4c.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    height: 100vh;
}

.grid1 img{
    width: 100px;
    height: 100px;
    filter: brightness(0) invert(1);
    position: absolute;
    top: 0;
    left: 40px;
    cursor: pointer;
}

.grid1 h1{
    font-family: "Inter", sans-serif;
     font-size: 3.5rem;
     margin-top: -50px;
     margin-bottom: 25px;
}
.grid1 p{
    font-family: "Inter", sans-serif;
    font-weight: 350;
    font-size: 1.2rem;
    color:  hsl(0, 31%, 70%) ;
}

.grid2{
    background-color: #fff;
}

.section5-contact-information h1{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 550;
    margin-bottom: 20px;
}

.section5-form{
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    height: 100vh;
    align-items: center;
    width: 100%;
    
}

.section5-form h1{
    color: black;
    font-size: 2rem;
    font-weight: 550;
    margin-bottom: 10px;
    text-align: left;
}

.section5-form p{
     color: rgb(77, 76, 76);
    font-size: 1em;
}

.form-header{
    margin-bottom: 40px;
    text-align: left;
    width: 100%;
    max-width: 480px;  
    padding: 0 20px;
  
}

 .form-password p ,
.form-email p, .btn p{
    color: rgb(20, 20, 20);
    font-size: .83em;
    margin-bottom: 15px;
    font-size: .9em;
    font-family: 500;
}

 .form-email,
.form-password {
    margin-bottom: 20px;
    width: 90%;
    max-width: 440px;
}

.form-password input ,
.form-email input {
    padding: 15px 10px;
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    border: 1px solid rgb(167, 164, 164);
    transition: .2s ease;
}

.btn{
     width: 90%;
    max-width: 440px;
}



 .btn button{
    font-family: "Inter", sans-serif;
    padding: 12px 10px;
    max-width: 440px;
    width: 100%;
    border-radius: 8px;
    background-color:rgb(213, 20, 20);
    color: #fff;
    border: none;
    font-size: .85rem;
    font-weight: 520;
    transition: .2s ease;
}

.section5-form button:hover{
    cursor: pointer;
    background-color:rgb(241, 93, 93);
}

.form-email input:focus,
.form-password input:focus{
    border: 1px solid red;
    outline: none;
}

.signup{
    text-align: center;
    margin-top: 20px;
    font-size: .85em;
}

.signup p a{
    text-decoration: none;
    color: red;
}

.fa-solid {
    display: none;
}

@media (max-width: 1020px){
    .grid1{
        background-image: url(../../Resources/Images/logo.png);
        height:90px ;
        width: 100px;
        margin: 0 auto;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateY(50%);
       
    }
    
    .container {
        /* margin-right: auto; */
        width: 100%;
        max-width: 450px;  
    }

     .fa-solid{
        display: block;
        padding: 20px;
     
     }

     .fa-solid a{
        text-decoration: none;
        color: gray;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        padding-left: 10px;
        text-align: left;
     }

    .grid1 h1, .grid1 p{
        display: none;
    }

    .grid{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        /* padding: 0 px; */
    }

    .section5-form{
        height: auto;
    }



}